<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>F</key>
    <dict>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.A</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-10</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.U</key>
      <integer>-10</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.B</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>t</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.C</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.F</key>
    <dict>
      <key>public.kern2.J</key>
      <integer>-60</integer>
      <key>public.kern2.t</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.G</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.L</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-30</integer>
      <key>public.kern2.T</key>
      <integer>-100</integer>
      <key>public.kern2.V</key>
      <integer>-80</integer>
      <key>public.kern2.Y</key>
      <integer>-70</integer>
      <key>public.kern2.t</key>
      <integer>-30</integer>
      <key>public.kern2.v</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.O</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-20</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.V</key>
      <integer>-15</integer>
      <key>public.kern2.X</key>
      <integer>-40</integer>
      <key>public.kern2.comma</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-20</integer>
      <key>public.kern2.v</key>
      <integer>-15</integer>
    </dict>
    <key>public.kern1.P</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.o</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.R</key>
    <dict>
      <key>public.kern2.V</key>
      <integer>-30</integer>
      <key>public.kern2.o</key>
      <integer>-12</integer>
    </dict>
    <key>public.kern1.T</key>
    <dict>
      <key>A</key>
      <integer>-70</integer>
      <key>public.kern2.J</key>
      <integer>-130</integer>
      <key>public.kern2.O</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-70</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
      <key>public.kern2.x</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.U</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.V</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.J</key>
      <integer>-80</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
    </dict>
    <key>public.kern1.X</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-40</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.v</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.Y</key>
    <dict>
      <key>J</key>
      <integer>-50</integer>
      <key>public.kern2.a</key>
      <integer>-40</integer>
      <key>public.kern2.n</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-50</integer>
      <key>public.kern2.u</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.Z</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.d</key>
    <dict>
      <key>public.kern2.j</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.f</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.l</key>
    <dict>
      <key>public.kern2.a</key>
      <integer>-5</integer>
      <key>public.kern2.o</key>
      <integer>-10</integer>
      <key>public.kern2.u</key>
      <integer>-5</integer>
      <key>public.kern2.v</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.n</key>
    <dict>
      <key>public.kern2.T</key>
      <integer>-40</integer>
      <key>public.kern2.V</key>
      <integer>-20</integer>
      <key>public.kern2.X</key>
      <integer>-10</integer>
      <key>public.kern2.Y</key>
      <integer>-40</integer>
      <key>public.kern2.f</key>
      <integer>-15</integer>
      <key>public.kern2.o</key>
      <integer>0</integer>
      <key>public.kern2.v</key>
      <integer>-20</integer>
      <key>public.kern2.x</key>
      <integer>-10</integer>
    </dict>
    <key>public.kern1.o</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-70</integer>
      <key>public.kern2.V</key>
      <integer>-50</integer>
      <key>public.kern2.Y</key>
      <integer>-50</integer>
      <key>public.kern2.f</key>
      <integer>-20</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.v</key>
      <integer>-25</integer>
      <key>public.kern2.x</key>
      <integer>-30</integer>
    </dict>
    <key>public.kern1.period</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.r</key>
    <dict>
      <key>a.ss01</key>
      <integer>-25</integer>
      <key>public.kern2.A</key>
      <integer>-30</integer>
      <key>public.kern2.comma</key>
      <integer>-60</integer>
      <key>public.kern2.f</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-20</integer>
      <key>public.kern2.period</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.topQ</key>
    <dict>
      <key>public.kern2.comma</key>
      <integer>-40</integer>
    </dict>
    <key>public.kern1.u</key>
    <dict>
      <key>public.kern2.Y</key>
      <integer>-20</integer>
    </dict>
    <key>public.kern1.v</key>
    <dict>
      <key>public.kern2.A</key>
      <integer>-50</integer>
      <key>public.kern2.O</key>
      <integer>-15</integer>
      <key>public.kern2.T</key>
      <integer>-10</integer>
      <key>public.kern2.a</key>
      <integer>-20</integer>
      <key>public.kern2.o</key>
      <integer>-25</integer>
    </dict>
    <key>public.kern1.x</key>
    <dict>
      <key>public.kern2.O</key>
      <integer>-10</integer>
      <key>public.kern2.T</key>
      <integer>-20</integer>
      <key>public.kern2.a</key>
      <integer>-10</integer>
      <key>public.kern2.j</key>
      <integer>-10</integer>
      <key>public.kern2.o</key>
      <integer>-30</integer>
      <key>public.kern2.u</key>
      <integer>-20</integer>
    </dict>
    <key>r</key>
    <dict>
      <key>public.kern2.o</key>
      <integer>-40</integer>
    </dict>
  </dict>
</plist>
